.tab{
  border: 5px solid black !important;
  ;
}
.nav-tabs .nav-link{
  background-color: transparent ;
  border: none ;
  color: #000; 
  font-weight:400;
}
.nav-tabs .nav-link.active {
 border-bottom: 2px solid #0866FF !important;
}


.userProfile img{
  border: 0.3rem solid white;
}

#profilePicUploadBtn{
  background-color: #EBF5FF;
}
#seeAllPhotos{
 float: right;
 text-decoration: none;
 
}
#seeAllPhotos:hover{
 background-color: gainsboro;
 }
 #Photos{
  text-decoration: none;
 }
 #Photos:hover{
  text-decoration: underline;
 }
 #friend-name{
  text-decoration: none;
 }


 


@media only screen and (min-width: 768px) and (max-width: 2560px) {
  .col-md-5{
    overflow-y:hidden;
    height: 100%;
    position: sticky;
    top: 0;
   }
}